<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALSmartVideoDB.Properties.Settings.SmartVideoDBConnectionString"
            connectionString="Data Source=PC-THIBAULT;Initial Catalog=SmartVideoDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>